<h3>Bears ({{totalBears}})</h3>
<ul>
  {{#each bears as |bear|}}
    <li {{action "favorite" bear}}>
      {{#if bear.favorited}}
        ⭐️
      {{/if}}
      {{bear.name}}
    </li>
  {{/each}}
</ul>
<button {{action "showMore"}}>Show More</button>

<br/>
<br/>
You have favorited {{favoritedBears}} bears
